body{
    background-color: #c0d0d1;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: "Roboto";
}

h1,h2,h3{
    color: #51868C;
    text-transform: uppercase;
    text-decoration: underline;
}

h2,h3{
    font-family: "Space Grotesk";
}

p{
    font-family: "Bona Nova SC";
    color: #B4D9D9;
    font-size: 400;

}

ul{

    text-align: left;
    
  
}

li{
    color: #04BFBF;
    font-size: 400;
    font-family: "Merriweather";
}

.container{
    text-align: center;
    border: solid 2px black;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #024059;
}

.colors{

    display: inline-block;
    width: 30%;
    border-radius: 15px;
    border: solid 1px black;
    
  
}

.colors p:first-child, .size h3{
    font-size: large;
    text-decoration: underline;

}

.size{
    width: 40%;
    border: solid 1px black;
    display: inline-block;
    margin:15px;
    
}

.colors p{
    margin: 4px 0;
    color: black;
}

#c1{
    background-color: #024059;
}

#c2{
    background-color: #013A40;
}

#c3{
    background-color: #51868C;
}

#c4{
    background-color: #04BFBF;
}

#c5{
    background-color: #B4D9D9;

}

#c3,#c4,#c5{
    margin-bottom: 15px;
}

#roboto{
    font-family: "Roboto",sans-serif;
}

#merriweather{
    font-family: "Merriweather";
}

#bona-nova{
    font-family: "Bona Nova SC",sans-serif;
}

#space{
    font-family: "Space Grotesk";
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: 700;
}

.bold-italic{
    font-weight: 700;
    font-style: italic;
}